@using ARC_InternetBanking.Core.Application.ViewModels.Transacciones
@using Microsoft.AspNetCore.Http;
@using ARC_InternetBanking.Core.Application.Enums;
@inject IHttpContextAccessor httpContextAccessor
@model SCPagoExpresoViewModel;
@{
    ViewData["Title"] = "Confirm Pago Expreso";
}

<body>
    <div class="container">
        <div class="card col-6 offset-3">
            <div class="row justify-content-center mt-5 m-1">
                        <div class="form-group text-center pt-3">
                            <h1 class="text-dark">Pago Expreso</h1>
                        </div>
                            <div class="form-group text-center pt-3 text-dark bg-light">
                        <p  class="fw-bold">Nombre del Propietario: <label>@Model.Nombre</label></p>
                        <p class="fw-bold">Apellido del Propietario:  <label>@Model.Apellido</label></p>
                                <p name="" class="fw-bold">Número de Cuenta del Propietario:  <label>@Model.SaveTransaccionViewModel.DestinoNumeroCuenta</label></p>
                                <p class="fw-bold">Cantidad a Depositar: <label>@Model.SaveTransaccionViewModel.Cantidad</label></p>
                                <p class="fw-bold">Número de Cuenta de Origen: <label>@Model.SaveTransaccionViewModel.OriginNumeroCuenta</label></p>
                            </div>
                            <h5 class="fw-bold text-center">¿Desea Realizar el Pago?</h5>
                         
                    <div class="form-group text-center mt-4 mb-5">
                        <a asp-controller="Payment" asp-action="MakePaymentExpress"
                           asp-route-AccountHolderId="@Model.SaveTransaccionViewModel.IdUsuarioTitularCuenta"
                           asp-route-OriginAccount="@Model.SaveTransaccionViewModel.OriginNumeroCuenta"
                           asp-route-TransaccionTypeId="@Model.SaveTransaccionViewModel.IdTipoTransaccion"
                           asp-route-Description="@Model.SaveTransaccionViewModel.Descriptcion"
                           asp-route-DestinationAccount="@Model.SaveTransaccionViewModel.DestinoNumeroCuenta"
                           asp-route-Amount="@Model.SaveTransaccionViewModel.Cantidad"
                           class=" btn btn-outline-primary">Realizar Pago</a>
                        <a asp-controller="Cliente" asp-action="Index" class="btn btn-outline-danger">Cancelar</a>
                        <input asp-for="Nombre" type="hidden" />
                        <input asp-for="Apellido" type="hidden" />
                    </div>
                    
                </div>
            </div>
        </div>
      
</body>